body {
    margin: 0;
    padding: 0;
    background-color: #f3f3f3; /* Light grey background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

.container {
    width: 90vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Shadow effect for the book */
.stf__wrapper {
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.my-page {
    background-color: white;
    overflow: hidden;
}

.my-page img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures images fill the page completely */
}